/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

body{
    padding-top: 25px;
    color: black !important;
}

#main a{
    color: black;
    text-decoration: none;
}

h1, h2, h3, h4, h5{
    border-bottom: #ccc solid 1px;
    padding-top: 15px;
}

.alternate:nth-of-type(odd){
    background: #eee;
}

.alternate:nth-of-type(odd):hover{
    background: #fafafa;
}

.alternate:nth-of-type(even){
    background: #ddd;
}

.alternate:nth-of-type(odd):hover{
    background: #eaeaea;
}

.list-row{
    padding: 5px;
    display: block;
    text-decoration: none;
    color: #222;
}

.list-row:hover{
    color: #000;
}

.list{
    margin: 5px;
}

input[type='text'], input[type='email'] {
    margin-bottom: 10px;
}